/* .fade {
  animation: Move both;
  animation-timeline: view();
  transition: 0.3s all ease-in-out;

}
@keyframes Move {
  from {
    scale: 0.6;
  }
  to {
    scale: 1;
  }
}
.movein{
    animation: Slide both;
    animation-timeline:view() ;
}
@keyframes Slide {
 from{
   opacity: 0.3;
   transform: translateX(-200px ) scale(0.3);

 }to{
     opacity: 1;
   transform: translateX(0px)   scale(1);

 }

    
} */